* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.translator-screen {
  height: 100vh;
  width: 100vw;
  background-color: #014f86;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.translator-screen .translator-title {
  color: white;
  text-align: center;
}

.translator-container {
  background-color: white;
  height: 80vh;
  width: 80vw;
  max-width: 700px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.translator-container #englishText {
  margin: 20px;
}
.translator-container #translate {
  margin: 20px;
  color: white;
  background-color: #014f86;
}
.translator-container #output {
  margin: 20px;
  padding: 10px;
  color: #014f86;
  font-size: 23px;
  border: 3px solid #014f86;
  height: 50vh;
}